@font-face {
    font-family: halvetica;
    src: url("assets/fonts/halvetica.ttf");
    font-weight: 500;
 }
.top-div
{
    width: 100%;
    min-height: 450px;
    background-color: antiquewhite;
    display: block;
    padding-top: 180px;
    text-align: center;
    position: relative;
    padding-bottom: 100px;
}

.arrow
{
    position: absolute;
    bottom: 20px;
    margin: auto;
}
.ss-section-l
{
    min-height: 650px;
    padding: 100px 0;
}
.ss-section-r
{
    min-height: 650px;
    padding: 100px 0;
}
.ss-section-l .pic
{
    width: 90%;
    height: auto;

}
.ss-section-r .pic
{
    width: 90%;
    height: auto;
}
.ss-section-l .grey
{
    font-size: 22px;
    font-weight: 600;
    color: #bdbdbd;
}
.ss-section-l .head
{
    font-size: 26px;
    font-weight: 700;
    color: black;
}
.ss-section-r .grey
{
    font-size: 22px;
    font-weight: 600;
    color: #bdbdbd;
}
.ss-section-r .head
{
    font-size: 26px;
    font-weight: 700;
    color: black;
}
@media(max-width:768px)
{
    .grey,.head, p{text-align: center;}
    .ss-section-l .pic{margin-left: 5%;}
}

.banner
{
    width: 100%;
    min-height: 300px;
    background-color: rgb(162, 197, 221);
    display: block;
    padding-top: 60px;
    text-align: center;
    position: relative;
    padding-bottom: 60px;
}
.quote
{
    text-align: center;
    margin: auto;
    font-size: 26px;
    
}
.auth
{
    text-align: center;
    margin-top:10px ;
    font-size: 20px;
}
.commas
{
    font-family: halvetica;
    line-height: 0.1;
    font-size: 10vw;

}